@font-face {
    font-family: starwars;
    src: url(../fonts/starjedi.ttf);
}

.starwars {
	font-family: starwars;
}

/****** add jumbotron bg image ******/
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/Yoda-Art-Wallpaper-Small.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}